<p><span style="font-weight: 400;">Dear {{ last_name }},</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Do you work in a research lab? Do you still get quotes from sales reps? Then using Lab Spend will save you time and money.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;This is hands down the best lab management resource I've ever come across.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">--Dave Long - Scientific Researcher</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lab Spend is a website with free tools proven to make your lab run better.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">https://labspend.com</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lab Spend saves you money by showing you what other</span><strong> researchers are paying on more than 4 million scientific products from over 5,000 brands</strong><span style="font-weight: 400;">. It&rsquo;s easy, search a catalog number see the low, high and average price plus a histogram to show the distribution. Here&rsquo;s an example below:</span></p>

<p><img alt="" src="https://labspend.com/images/letter_image.png" style="width: 454.50px; height: 332.95px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"></p>
<p><span style="font-weight: 400;">You can see there are researchers paying almost 5x more for the exact same product.</span></p>
<p>&nbsp;</p>
<p><strong>Not happy with what you are paying?</strong><span style="font-weight: 400;"> You can instantly request a price quote. We know pricing and are here to help.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This is just </span><span style="font-weight: 400;">one feature</span><span style="font-weight: 400;"> of Lab Spend which also includes a chemical search engine, spending analytics and more! Sincerely hope you enjoy this resource! </span></p>
<p><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Sincerely, </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Sean Seaver, PhD</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">P.S. It takes time and money to keep the pricing information updated. Since we don&rsquo;t charge for this, all we ask is you kindly give it a try or mention Lab Spend (</span><a href="https://labspend.com"><span style="font-weight: 400;">https://labspend.com</span></a><span style="font-weight: 400;">) to someone who would find it useful. Thank you, and enjoy!</span></p>